#
# kano-boot-battery.service
#
# This service will power off the Kit on bootup if the battery charge is too low.
#
# It does this by running before the file systems are remounted in Read Write mode.
# Executes a program to perform the check, and if needed, sysrq is triggered for a power off.
#
# Messages will appear on the console if any action is taken.
# Systemd services and the console log will stay still while this service is running.
#
# The service runs after kano-os-loader, before file systems are remounted read-write,
# and the splash bootup animation starts.
#
# This complies with the condition that filesystem is still read-only - because
# sysrq does not flush system buffers - and that the console is availabe
# to display the warning message.
#

[Unit]
Description=Kano Low Battery bootup
DefaultDependencies=no
Conflicts=shutdown.target

Wants=local-fs-pre.target
After=kano-os-loader.service
Before=systemd-remount-fs.service boot-splash-start.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/kano-boot-battery

[Install]
WantedBy=kano-os-loader.service

