#
# kano-boot-battery.service
#
# This service will power off the Kit on bootup if the battery charge is too low.
#
# It does this by running before the file systems are remounted in Read Write mode.
# Executes a program to perform the check, and if needed, sysrq is triggered for a power off.
#
# Messages will appear on the console if any action is taken.
# Systemd services and the console log will stay still while this service is running.
#
# By running the service before kano-os-loader, we guarantee that the filesystems
# are still mounted read-only. This condition is necessary because sysrq does not flush system buffers.
#

[Unit]
Description=Kano Low Battery bootup
DefaultDependencies=no
Conflicts=shutdown.target
Before=kano-os-loader.service
Wants=local-fs-pre.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/kano-boot-battery

[Install]
WantedBy=kano-os-loader.service

