Source: kano-peripherals
Maintainer: Team Kano <dev@kano.me>
Section: admin
Priority: optional
Standards-Version: 3.9.2
Build-Depends:
    debhelper (>= 9),
    dh-exec,
    dh-systemd (>= 1.5),
    cmake,
    make,
    gcc,
    wiringpi,
    libx11-dev,
    libxi-dev

Package: kano-peripherals
Architecture: all
Depends:
    ${misc:Depends},
    python,
    i2c-tools,
    python-smbus,
    python-serial,
    libkano-hat,
    kano-settings (>= 2.2-2),
    kano-toolset (>= 2.2.0-2),
    kano-profile (>= 3.9.1),
    poppa
Breaks: kano-desktop (<< 3.10)
Description: Support for Kano Peripherals

Package: libkano-hat
Architecture: any
Depends:
    ${misc:Depends},
    python,
    python-rpi-ws281x,
    wiringpi
Description: Library for interacting with the Kano Hat

Package: libkano-hat-dev
Architecture: any
Depends:
    ${misc:Depends},
    libkano-hat (= ${source:Version})
Description: Dev version of library for interacting with the Kano Hat

Package: kano-peripherals-i18n-orig
Architecture: all
Description: Data for working on translations of kano-peripherals
Multi-Arch: foreign

Package: kano-touch-support
Architecture: any
Depends:
    ${misc:Depends},
    libx11-6,
    libxi6
Description: Support for touchscreen detection and flipping

