#!/usr/bin/make -f

%:
	dh $@ --with systemd

override_dh_auto_build:
	cd libs/pi_hat && cmake . && make
	cd po && make messages.pot
	cd po && make
	cd touch-detect && ./build.sh

override_dh_fixperms:
	dh_fixperms
	chmod 0440 etc/sudoers.d/*

override_dh_auto_test:
