#
# kano-boards
#

[Unit]
Description=Kano Boards Daemon
IgnoreOnIsolate=true
DefaultDependencies=true

[Service]
ExecStart=/usr/bin/sudo /usr/bin/kano-boards-daemon
ExecStop=/usr/bin/sudo /usr/bin/kano-boards-daemon stop
ExecStartPost=/bin/sleep 3
